.modal-body{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;
width: 100px;
height: 115px;
padding: 7px;
justify-content: center;
align-items: center;
text-align: center;



color: #03A30A;

}

#badge{
    position: relative;
    right:100px;
    top: -70px;
}

.modal-width{
    width: 100% !important;
}
.arrow-button{

background: #ddaeae;
border-radius: 10px;

}